  <!-- Footer -->

<div class="py-5 container-fluid primary-bg-dark text-white text-center text-md-left">
    <div class="row mt-3">

        <div class="col-md-4 order-1  col-lg-3 col-xl-3 mx-auto mb-md-4">
            <ul class="list-inline">
                <li class="list-inline-item">                
                    <a class="fb-ic mr-3">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="tw-ic mr-3">
                      <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="li-ic mr-3">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="ins-ic">
                      <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        

        <div class="col-md-2 order-md-2 col-6 col-lg-2 col-xl-2 ">
            <ul class="list-unstyled">
                <li>
                    <a href="#!" class="text-white">Home</a>  
                </li>
                <li>
                    <a href="#!" class="text-white">About Us</a> 
                </li>
                <li>
                    <a href="#!" class="text-white">Services</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 order-md-3 col-6 col-lg-2 col-xl-2 ">
            <ul class="list-unstyled">
                <li>
                    <a href="#!" class="text-white">Terms</a>  
                </li>
                <li>
                    <a href="#!" class="text-white">Privacy</a> 
                </li>
            </ul>  
        </div>

        <div class="col-md-3 order-4  col-lg-4 col col-xl-3 mx-auto ">
            <h3 class="company-name">radiating.Planet</h3>
            <p class="text-muted mat-small">
                All Rights Reserved &copy; 2020 
            </p>
        </div>

        
    </div>
</div>
<!-- Footer -->
