  <!-- Footer -->

<div class="py-5 container-fluid primary-bg-dark text-white text-center text-md-left">
    <div class="row mt-3">

        <div class="col-md-4 order-1  col-lg-3 col-xl-3 mx-auto mb-md-4">
            <ul class="list-inline">
                <li class="list-inline-item">                
                    <a class="mr-3" href="https://www.facebook.com/radiatingplanet">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="mr-3" href="https://twitter.com/RadiatingPlanet">
                      <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="mr-3" href="https://www.linkedin.com/in/radiatingplanet">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="" href="https://www.instagram.com/radiating.planet">
                      <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        

        <div class="col-md-2 order-md-2 col-6 col-lg-2 col-xl-2 ">
            <ul class="list-unstyled">
                <li>
                    <a [routerLink]="['/home']" class="text-white">Home</a>  
                </li>
                <li>
                    <a [routerLink]="['/about-us']" class="text-white">About Us</a> 
                </li>
                <li>
                    <a [routerLink]="['/services']" class="text-white">Services</a>
                </li>
                <!-- <li>
                    <a [routerLink]="['/contact-us']" class="text-white">Contact Us</a>
                </li> -->
                <li>
                    <a [routerLink]="['/register']" class="text-white">Register</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 order-md-3 col-6 col-lg-2 col-xl-2 ">
            <ul class="list-unstyled">
                <li>
                    <a [routerLink]="['/terms']" class="text-white">Terms</a>  
                </li>
                <li>
                    <a [routerLink]="['/terms']" class="text-white">Privacy Policy</a> 
                </li>
                <li>
                    <a [routerLink]="['/admin']"  class="text-white">Admin</a> 
                </li>
            </ul>  
        </div>

        <div class="col-md-3 order-4  col-lg-4 col col-xl-3 mx-auto ">
            <img class="img-logo" src="../../assets/img/logo.png" alt="">
            <!-- <h3 class="company-name">radiating.Planet</h3> -->
            <p class="text-muted mat-small">
                All Rights Reserved &copy; 2020 
            </p>
        </div>

        
    </div>
</div>
<!-- Footer -->