<div class="container">

    <h1 class="my-4">
      <small class="text-capitalize">{{dataHandyman.name}}</small>
    </h1>
  
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid profile-img"
        [src]="dataHandyman.img_url"
        alt="">
      </div>
  
      <div class="col-md-4">
        <!-- <star-rating
          value="{{dataHandyman.rating}}"
          totalstars="5"
          checkedcolor="#fa9600" 
          uncheckedcolor="#ccc"
          size="24px" 
          readonly="true"
          (rate)="onRate($event)">
        </star-rating> -->
        <ngb-rating [(rate)]="selectedRating" max=5 (click)="ratingChanged()" >
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
        </ngb-rating>

        <div class="row mx-auto">
          <button [hidden]="!hideNum" class="btn btn-warning rounded-2" (click)="hideNum = false">Book</button>
          <button [hidden]="hideNum" class="btn btn-success rounded-2">Booked</button>
        </div>
        <table class="my-3 table text-capitalize table-borderless">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{dataHandyman.name}}</td>
            </tr>
            <tr>
              <td>D.O.B</td>
              <td>{{dataHandyman.dob}}</td>
            </tr>
            <tr>
              <td>Service</td>
              <td>{{dataHandyman.serviceName}}</td>
            </tr>
            <tr>
              <td>Experience</td>
              <td>{{dataHandyman.serviceExperience}} years</td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td class="text-success" [hidden]="hideNum">{{dataHandyman.contactNumber}}</td>
              <td class="text-danger"  [hidden]="!hideNum">Hidden</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{dataHandyman.city}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td>{{dataHandyman.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
    <h3 *ngIf="relatedHandymanList.length > 0" class="mt-5 mb-3">Related Handyman</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let handyman of relatedHandymanList">
        <a 
          (click)="gotoDetails(handyman.id)"
          style="cursor: pointer;">
          
          <div class="related-img" 
            [ngStyle]="{ 'background-image': 'url(\''+handyman.img_url+'\')' }"></div>
            <h6 class="text-capitalize">
              {{handyman.name}}
            </h6>
        </a>
            
      </div>

    </div>
  </div>
