.related-img{
    width: 12rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
}

/*******************
    Star Rating
********************/
ngb-rating .star {
    font-size: 1.5rem;
    color: #b0c4de;
}
ngb-rating .filled {
    color: #FA9600;
}
