.map{
    width: 100%;
    height: 80%;
    z-index: 1;
}
.map iframe{
    height: 100%;
    width: 100%;
}
.contact-us-section{
    top: 20%;
    z-index: 2;
}
/* @media only screen and (max-width: 750px){
    .container{
        position: relative;
        top: 80%;
    }    
} */

.container>.row{
    /* background-color: #22262de7;
    border: 1px solid #22262d;
    border-radius: 0.5rem; */
    width: fit-content;
    color: #22262D;
    /* font-weight: bold; */
}
.section-head h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    width: fit-content;
}
.section-head {
    margin: 4rem 0 0 0;
}
.contact-items{
    font-size: 1.1rem;
}
.contact-items i{
    font-size: 1.4rem;
    color: #4F84EB;
    margin-right: 0.5rem;
}
.contact-items .row{
    margin: 2rem;
}
@media only screen and (max-width: 568px){
    .contact-items{
        font-size: 1rem;
    }
    .contact-items i{
        font-size: 1.2rem;
        color: #4F84EB;
        margin-right: 0.2rem;
    }
}
