<div class="container justify-content-center">
    <div class="row mx-auto">
        <div class="col-md-4 section-head mb-5">
            <h2 class="mx-auto primary-dark-orange">CONTACT US</h2>
        </div>
        <div class="col-md-8 contact-items">
            <div class="row">
                <span>
                    <i class="fas fa-map-marker-alt "></i>
                    <em> Radiating Planet</em>
                    - 69, Dhakpatti, Rajpur, Dehradun, Uttarakhand 248009
                </span>
            </div>
            <div class="row">
                <span>
					<i class="fas fa-mobile-alt"></i>
                    +91-79008-34071
                </span>
            </div>
            <div class="row">
                <span>
                    <i class="far fa-envelope"></i>
                    radiatingplanet@gmail.com
                </span>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.5440311105813!2d78.09191941512331!3d30.392303081757223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3908d79f996da4df%3A0x57aa02ebcf6eb2db!2sRadiating%20Planet!5e0!3m2!1sen!2sin!4v1582656786613!5m2!1sen!2sin" 
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
</div>
