<!-- About us  -->
<div class="container my-5 ">
    <div class="section-head mb-5">
        <h2 class="mx-auto primary-dark-orange">ABOUT US</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mr-md-1 mb-3 mb-md-0 primary-dark-blue">
            <h5>Lorem ipsum dolor um ratione,Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, non  Nulla optio nisi dicta unde labore!</h5>
        </div>
        <div class="col-md-6 ml-1 p-5 p-md-2">
            <div class="row mb-3">
                <h6 class="primary-light-gray">WHAT HAVE WE ACHIEVED?</h6>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate dolorum mollitia aliquid accusamus possimus obcaecati nihil quia, vitae, exercitationem laborum animi est error nam, facere repellendus tempore illum velit.</P>
            </div>
            <div class="row mb-3">
                <h6 class="primary-light-gray">OUR MISSION</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas architecto laborum earum quibusdam iure odio aperiam dolorum sit asperiores laboriosam. Quia accusantium odit incidunt maxime, mollitia doloribus iste perferendis cumque!</p>
            </div>
            <div class="row">
                <h6 class="primary-light-gray">OUR VISION</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas architecto laborum earum quibusdam iure odio aperiam dolorum sit asperiores laboriosam. Quia accusantium odit incidunt maxime, mollitia doloribus iste perferendis cumque!</p>
            </div>
        </div>
    </div>
</div>
<!-- END About us  -->

<!-- Our team  -->
<div class="our-team container my-5 ">
    <div class="section-head mb-5">
        <h3 class="mx-auto primary-dark-blue">OUR GOLDEN TEAM</h3>
        <p class="lead text-center">We treat people as the best resources</p>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-3 justify-content-center">
            <div class="row justify-content-center">
                <div class="team-img text-center" style="background-image: url('../../assets/img/team/nitin2.jpg');"></div>
            </div>
            <div class="row mt-2 justify-content-center">
                <h5 class="text-center primary-dark-blue">Nitin Kanojiya</h5>
            </div>
            <div class="row mt-0 primary-dark-orange justify-content-center">
                <h4>Founder and Director</h4>
            </div>
        </div>

        <div class="col-md-3 justify-content-center">
            <div class="row justify-content-center">
                <div class="team-img text-center" style="background-image: url('../../assets/img/team/team (2).jpg');"></div>
            </div>
            <div class="row mt-2 justify-content-center">
                <h5 class="text-center primary-dark-blue">Mudit Mittal</h5>
            </div>
            <div class="row mt-0 primary-dark-orange justify-content-center">
                <h4>Software Lead</h4>
            </div>
        </div>
        <div class="col-md-3 justify-content-center">
            <div class="row justify-content-center">
                <div class="team-img text-center" style="background-image: url('../../assets/img/team/team (1).jpg');"></div>
            </div>
            <div class="row mt-2 justify-content-center">
                <h5 class="text-center primary-dark-blue">Mandeep Singh</h5>
            </div>
            <div class="row mt-0 primary-dark-orange justify-content-center">
                <h4>Production Manager</h4>
            </div>
        </div>


    </div>
</div>
