<!-- About us  -->
<div class="container my-5 ">
    <div class="section-head mb-5">
        <h2 class="mx-auto primary-dark-orange">ABOUT US</h2>
    </div>
    <div class="row section-subhead">
        <div class="col-md-9">
            <p class="text-center mx-auto primary-dark-blue">
                "We are an organization that will always go an extra mile to put a smile on 
                the faces of our customers. The services providers associated with us also 
                share the same feeling of leaving behind happy faces and satisfied customers 
                every single time." 
            </p>
        </div>
    </div>


    <!-- <div class="row justify-content-center primary-dark-blue mb-5 pl-5 pr-5">
        <h4 class="">
            <p>

                <i>
                    "We are an organization that will always go an extra mile to put a smile on 
                    the faces of our customers. The services providers associated with us also 
                    share the same feeling of leaving behind happy faces and satisfied customers 
                    every single time." 
                </i>
            </p>
        </h4>
    </div> -->
    <div class="mission-vision row pl-md-5 pr-md-5">
        <div class="col-md-9 ml-1 p-0 p-md-0">
            <!-- <div class="row mb-3">
                <h6 class="primary-light-gray">WHAT HAVE WE ACHIEVED?</h6>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate dolorum mollitia aliquid accusamus possimus obcaecati nihil quia, vitae, exercitationem laborum animi est error nam, facere repellendus tempore illum velit.</P>
            </div> -->
            <div class="row mb-3">
                <h5 class="primary-light-gray">OUR MISSION</h5>
                <p>
                    Our mission is to keep in touch with the need of society and connect them to the person who are willing to do work.
                </p>
                <p>
                    We provide a platform to local qualified and experienced professionals who are nearby us but we can't find them in need. Who have the ability of performing duties at their best way. 
                </p>
            </div>
            <div class="row">
                <h6 class="primary-light-gray">OUR VISION</h6>
                <p>
                    We are offering people to create their future with us, we are the organization that will work for the benefit of the people who are keen to work but do not find the platform for performing their tasks.
                </p>
            </div>
        </div>

    </div>

</div>
<!-- END About us  -->

<!-- Our team  -->
<div class="our-team container my-5 ">
    <div class="section-head mb-5">
        <h3 class="mx-auto primary-dark-blue">OUR GOLDEN TEAM</h3>
        <p class="lead text-center">We treat people as the best resources</p>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-3 justify-content-center">
            <div class="row justify-content-center">
                <div class="team-img text-center" style="background-image: url('../../assets/img/team/harish.jpg');"></div>
            </div>
            <div class="row mt-2 justify-content-center">
                <h5 class="text-center primary-dark-blue">Harish Nautiyal</h5>
            </div>
            <div class="row mt-0 primary-dark-orange text-center justify-content-center">
                <h4>Founder and Director</h4>
            </div>
        </div>

        <div class="col-md-3 justify-content-center">
            <div class="row justify-content-center">
                <div class="team-img text-center" style="background-image: url('../../assets/img/team/nitin3.jpg');"></div>
            </div>
            <div class="row mt-2 justify-content-center">
                <h5 class="text-center primary-dark-blue">Nitin Kanojiya</h5>
            </div>
            <div class="row mt-0 primary-dark-orange justify-content-center">
                <h4>Product Designer</h4>
            </div>
        </div>
    </div>
</div>
