/*  ***********
  Services
*************  */
.showcase-text {
  padding: 3rem;
}
  
.showcase-img {
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .showcase-text {
    padding: 7rem;
  }  
}

/*  ***********
  Video
*************  */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}
/*  ***********
  Heading and search
*************  */
.section-head h2{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  width: fit-content;
}
.section-head {
margin: 4rem 0 0 0;
}

a, a:hover{
  color: #2861CF;
  cursor: pointer;
}

/* 
******************* */

.services-section-content{
  margin-top: 2rem;
  color: #9BA5BA;
}
.services-section-icon{
  font-size: 2rem;
}
.services-section-content-col div.card{
  border: 0.1px;
  overflow: hidden;
  cursor: pointer;
}
.services-section-content-col:hover div.card{
  border: 0.5px solid #9BA5BA;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px #9BA5BA;

}
.services-section-content-col div.card div .card-text{
  display: none;
  transform: translateY(100px);
}
.services-section-content-col div.card:hover div .card-text{
  display: block;
  transform: translateY(-30px);
  animation: translateDescAnim 1s 1;
  margin-bottom: 0;
}
@keyframes translateDescAnim{
  from{
      transform: translateY(100px);
  }
  to{
      transform: translateY(-30px);
  }
}

.services-section-content-col div.card:hover div span i{
  transform: translate(-70px, 0px);
}
.services-section-content-col div.card:hover div span{
  color: #FA9600;
}
.services-section-content-col div.card:hover div .card-title{
  color: #22262D;
  transform: translate(50px,-38px);
}
