<!-- Video -->
<header>
    <div class="overlay"></div>
    <img src="/assets/img/services_head.jpg" alt="">
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          
          <div class="section-head">
            <h2 class="mx-auto primary-dark-orange">OUR SERVICES</h2>
          </div>  
          <p class="mt-5 mx-auto mb-0" style="width: 80%;">
            <input type="text"
            [(ngModel)]="searchText" 
            autocomplete="off" 
            placeholder= "Search Service.."
            aria-label= "Search Service..">  
            <!-- class="form-control" -->
          </p>
        </div>
      </div>
    </div>
</header>
<!--END Video -->
    
<!-- Services Showcases -->

<!-- <div class="services-section container-fluid p-0">
    <div class="row no-gutters my-md-2" *ngFor="let service of ourservices | filter:searchText; let i=index"  >
        <div class="col-md-6 text-white showcase-img"
            [ngClass]="{'order-2': i%2==0 }" 
            [ngStyle]="{'background-image': 'url('+service.img_url+')' }" 
            >
        </div>
        <div class="col-md-6 my-auto showcase-text"
            [ngClass]="{'order-2': i%2!=0}">
            <h3>{{i+1}}. {{service.name}}</h3>
            <p class="mb-0"> 
                {{service.desc}}
                <br>
                <a (click)="gotoListPage(service.id)">Explore servicemen</a>
            </p>
        </div>
    </div>

</div> -->

<!-- END Services Showcases -->


<!-- OUR Services Section -->
<div id="our-services" class="services-section container">
  
  <div class="row section-content services-section-content">
      <div class="col-lg-3 col-md-4 col-sm-6 services-section-content-col mb-5" *ngFor="let item of ourservices | filter:searchText">
          <div class="card" >
              <div class="card-body text-center" 
                  (click)="gotoListPage(item._id)"
                  [routerLink]="['/services']">
      
                  <span class="services-section-icon">
                      <i class="{{item.icon}}"></i>
                  </span>
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.desc}}</p>
              </div>
          </div>
      </div>
  </div>
  
</div>

<!-- END Our Services Section -->
