<!-- Video -->
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/assets/video/handyman.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3"></h1>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
</header>
<!--END Video -->
    
<!-- Head and Search  -->
<div class="head-search container my-5 ">
    <div class="section-head">
        <h2 class="mx-auto primary-dark-orange">OUR SERVICES</h2>
    </div>
    <div class="row input-group mt-5 mx-auto" style="width: 80%;">
        <input type="text" class="form-control"
          [(ngModel)]="searchText" 
          autocomplete="off" 
          placeholder= "Search Service.."
          aria-label= "Search Service..">
      </div>
</div>
<!-- END Head and Search  -->

<!-- Services Showcases -->
<div class="services-section container-fluid p-0">
    <div class="row no-gutters my-md-2" *ngFor="let service of ourservices | filter:searchText; let i=index"  >
        <div class="col-md-6 text-white showcase-img"
            [ngClass]="{'order-2': i%2==0 }" 
            [ngStyle]="{'background-image': 'url('+service.img_url+')' }" 
            >
        </div>
        <div class="col-md-6 my-auto showcase-text"
            [ngClass]="{'order-2': i%2!=0}">
            <h3>{{i+1}}. {{service.name}}</h3>
            <p class="mb-0"> 
                {{service.desc}}
                <br>
                <a (click)="gotoList(service.id)">Explore servicemen</a>
            </p>
        </div>
    </div>
</div>
<!-- END Services Showcases -->