<mat-toolbar class=" bg-light primary-dark-gray">
    <!-- <h3 class="company-name">radiating.Planet</h3> -->

    <img class="img-logo" [routerLink]="['/']" src="../../assets/img/logo.png" alt="">
    <span class="space-filler"></span>
    
    <div class="mobile-toolbar">
        <span class=""
            (click)="navEvent()">

            <i [hidden]="showToolbar"
            class="fas fa-align-right"></i>
            
            <i [hidden]="!showToolbar"
            class="fas fa-times"></i>            
        </span>        
    </div>

    <div class="desktop-toolbar">
        <ul>
            <li  [routerLink]="['/']" routerLinkActive="active" class="nav-link">
                <a>
                    <span>HOME</span>
                </a>
            </li>
            <li [routerLink]="['/about-us']" routerLinkActive="active" class="nav-link">
                <a>
                    <span>ABOUT US</span>
                </a>
            </li>
            <li [routerLink]="['/services']" routerLinkActive="active" class="nav-link">
                <a>
                    <span>SERVICES</span>
                </a>
            </li>
            <li [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link">
                <a>
                    <span>CONTACT US</span>
                </a>
            </li>
            <li [routerLink]="['/register']" routerLinkActive="active" class="nav-link">
                <a>
                    <span>REGISTER</span>
                </a>
            </li>
        </ul>
    </div>
    <span class="desktop-toolbar space-filler"></span>
</mat-toolbar>

<div class=" container-fluid mobile-toolbar-container"
[hidden]="!showToolbar">
    <div class="row">
        <ul>
            <li  [routerLink]="['/']" >
                <a>
                    <span>HOME</span>
                </a>
            </li>
            <li [routerLink]="['/about-us']">
                <a>
                    <span>ABOUT US</span>
                </a>
            </li>
            <li [routerLink]="['/services']">
                <a>
                    <span>SERVICES</span>
                </a>
            </li>
            <li [routerLink]="['/contact-us']">
                <a>
                    <span>CONTACT US</span>
                </a>
            </li>
            <li [routerLink]="['/register']">
                <a>
                    <span>REGISTER</span>
                </a>
            </li>
        </ul>
    </div>
</div>
