/* ***************************
    Toolbar 
*************************** */
mat-toolbar{
    padding: 3rem 2rem 3rem 2rem;
}
.space-filler{
    flex: 1 1 auto;
}
.img-logo{
    margin-left: 2rem;
    padding: 0.5rem;
    width: 7.5rem;
}
 ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
}
a{
    text-decoration: none;
}
a span{
    color: #22262D;
    font-size: 1.3rem;
}
ul li:hover a span{
    color: #4F84EB;
}

/* ***************************
    Mobile Toolbar 
*************************** */
.mobile-toolbar{
    display: none;
}
.mobile-toolbar i{
    font-size: 2rem;
    cursor: pointer;
}
.mobile-toolbar-container{
    z-index: 100;
    background-color: #FFFFFF;
    margin: 4rem auto 4rem auto;
}
.mobile-toolbar-container ul{
    margin-left: 3rem;
}
.mobile-toolbar-container ul li{
    margin-bottom: 1rem;
}

/* ***************************
    Desktop Toolbar 
*************************** */

.desktop-toolbar ul li{
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

/* *******************
    Responsive
******************** */
@media only screen and (max-width: 750px){
    .desktop-toolbar{
        display: none;
    }
    .mobile-toolbar{
        display: block;
    }
}

/* *******************
    Company name
******************** */
.company-name{
    font-family: 'Niconne' ;
    letter-spacing: 5px;
    font-weight: 700;
}
