<mat-toolbar class=" bg-light primary-dark-gray">
    <!-- <h3 class="company-name">radiating.Planet</h3> -->

    <img class="img-logo" src="../../assets/img/logo_b.png" alt="">
    <span class="space-filler"></span>
    
    <div class="mobile-toolbar">
        <span class=""
            (click)="navEvent()">

            <i [hidden]="showToolbar"
            class="fas fa-align-right"></i>
            
            <i [hidden]="!showToolbar"
            class="fas fa-times"></i>            
        </span>        
    </div>

    <div class="desktop-toolbar">
        <ul>
            <li>
                <a [routerLink]="['/']"  href="">
                    <span>home</span>
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['/']">
                    <span>About us</span>
                </a>
            </li>
            <li>
                <a href="" [routerLink]="['/services']">
                    <span>services</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>contact us</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Register</span>
                </a>
            </li>
        </ul>
    </div>
    <span class="desktop-toolbar space-filler"></span>
</mat-toolbar>

<div class=" container-fluid mobile-toolbar-container"
[hidden]="!showToolbar">
    <div class="row">
        <ul>
            <li>
                <a href="">
                    <span>home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>About us</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>services</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>contact us</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>register</span>
                </a>
            </li>

        </ul>
    </div>
</div>
