<mat-toolbar class=" bg-light primary-dark-gray">
    <!-- <h3 class="company-name">radiating.Planet</h3> -->

    <img class="img-logo" src="../../assets/img/logo_b.png" alt="">
    <span class="space-filler"></span>
    <ul>
        <li>
            <a href="">
                <span>home</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>About us</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>services</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>contact us</span>
            </a>
        </li>
    </ul>
    <span class="space-filler"></span>
</mat-toolbar>
