<div class="container-fluid">
    <form (submit)="onSubmitForm(registerForm)" class="mx-auto" #registerForm="ngForm">

        <div class="section-head">
            <h2 class="mx-auto text-center primary-dark-orange">REGISTER YOURSELF</h2>
            <p class="mx-auto lead primary-light-gray">Work as a handyman</p>
        </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fullname">Full Name</label>
                <input 
                name="fullname"
                required
                ngModel
                #fullname="ngModel"
                type="text" class="form-control" 
                id="fullname" placeholder="As per your Aadhar Card">
              </div>
              <div class="form-group col-md-6">
                <label for="mobilenumber">Mobile Number</label>
                <input 
                name="mobilenumber"
                required
                ngModel
                #mobilenumber="ngModel"
                type="tel" class="form-control" id="mobilenumber" placeholder="+91-">
              </div>
            </div>

            <div class="form-group">
              <label for="aadhar">Aadhar Card number</label>
              <input 
              name="aadharnumber"
              required
              ngModel
              #aadharnumber="ngModel"
              type="tel" class="form-control" id="aadhar" placeholder="0000-0000-0000">
            </div>
  
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="servicename">Your Service Name</label>
                <input 
                name="servicename"
                required
                ngModel
                #servicename="ngModel"
                type="text" class="form-control" id="servicename" placeholder="eg. Electrician">
              </div>
              <div class="form-group col-md-6">
                <label for="distance">Maximum Distance</label>
                <input 
                name="distance"
                required
                ngModel
                #distance="ngModel"
                type="number" class="form-control" id="distance" placeholder="Distance in km">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="dob">Date Of Birth</label>
                <input 
                name="dob"
                required
                ngModel
                #dob="ngModel"
                type="date" class="form-control" id="dob" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="experience">Service Experience</label>
                <input 
                name="experience"
                required
                ngModel
                #experience="ngModel"
                type="number" class="form-control" id="experience" placeholder="In years">
              </div>
            </div>

  
            <!-- <div class="form-group">
              <label for="currAddress">Current Address</label>
              <input type="text" class="form-control" id="currAddress" placeholder="House Number, Street, Locality">
            </div> -->
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="currCity">City</label>
                  <input 
                  name="currCity"
                  required
                  ngModel
                  #currCity="ngModel"
                  type="text" class="form-control" id="currCity" placeholder="eg.Dehradun">
              </div>
              <div class="form-group col-md-6">
                  <label for="currState">State</label>
                  <input 
                  name="currState"
                  required
                  ngModel
                  #currState="ngModel"
                  type="text" class="form-control" id="currState" placeholder="eg.Uttarakhand">
              </div>
            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="currCity">City</label>
                    <input type="text" class="form-control" id="currCity" placeholder="eg.Dehradun">
                </div>
                <div class="form-group col-md-4">
                    <label for="currState">State</label>
                    <input type="text" class="form-control" id="currState" placeholder="eg.Uttarakhand">
                </div>
                <div class="form-group col-md-3">
                    <label for="currZip">Zip</label>
                    <input type="text" class="form-control" id="currZip" placeholder="000000">
                </div>
            </div> -->
  
            <!-- <div class="form-group">
                <label for="permPoliceStation">Police Station</label>
                <input type="text" class="form-control" id="permPoliceStation">
            </div>

  
            <div class="form-group">
                <label for="permAddress">Permanent Address</label>
                <input type="text" class="form-control" id="permAddress" placeholder="House Number, Street, Locality">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="permCity">City</label>
                    <input type="text" class="form-control" id="permCity" placeholder="eg.Dehradun">
                </div>
                <div class="form-group col-md-4">
                    <label for="permState">State</label>
                    <input type="text" class="form-control" id="permState" placeholder="eg.Uttarakhand">
                </div>
                <div class="form-group col-md-3">
                    <label for="permZip">Zip</label>
                    <input type="text" class="form-control" id="permZip" placeholder="000000">
                </div>
            </div>
  
            <div class="form-group">
              <label for="permPoliceStation">Police Station</label>
              <input type="text" class="form-control" id="permPoliceStation">
            </div> -->

            
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="termsCheck" 
                    [checked]="termsCheck"
                    (change)="termsCheck=!termsCheck"
                    >
                <label class="form-check-label" for="termsCheck"
                    [ngClass]="{'text-success': termsCheck, 'text-danger': !termsCheck}">
                  I declare all details filled by me are as per the government records
                </label>
              </div>
            </div>

            <button type="submit"
              [ngClass]="{'submit-btn': termsCheck, 'disabled': !termsCheck, 'submit-btn-disabled': !termsCheck}"
             class="btn ">
             Submit
            </button>
          </form>
</div>
