<div class="container-fluid">
    <form
      (submit)="onSubmitForm()" 
      class="mx-auto" 
      [formGroup]="registerForm"
      >

        <div class="section-head">
            <h2 class="mx-auto text-center primary-dark-orange">REGISTER YOURSELF</h2>
            <p class="mx-auto lead primary-light-gray">Work as a handyman</p>
        </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Full Name</label>
                <input 
                name="name"
                formControlName="name"
                type="text" class="form-control" 
                id="name" placeholder="As in Aadhar Card">
              </div>

              <div class="form-group col-md-6">
                <label for="contactNumber">Mobile Number</label>
                <input 
                name="contactNumber"
                formControlName="contactNumber"
                type="tel" 
                class="form-control" 
                id="contactNumber" 
                maxlength="10" 
                minlength="10" 
                placeholder="10 digits">
              </div>
            </div>

  
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="aadhar">Aadhar Card number</label>
                <input 
                name="aadharNumber"
                formControlName="aadharNumber"
                type="tel" 
                class="form-control" 
                id="aadhar" 
                minlength="12" 
                maxlength="12" 
                placeholder="0000-0000-0000">
              </div>
              <div class="form-group col-md-6">
                <label for="dob">Date Of Birth</label>
                <input 
                name="dob"
                formControlName="dob"
                type="date" 
                class="form-control" 
                id="dob" 
                placeholder="">
              </div>

              <!-- <div class="form-group col-md-6">
                <label for="distance">Maximum Distance</label>
                <input 
                name="distance"
                required
                ngModel
                #distance="ngModel"
                type="number" class="form-control" id="distance" placeholder="Distance in km">
              </div> -->
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="servicename">Your Service Name</label>
                <!-- <input 

                type="text" class="form-control"  placeholder="eg. Electrician"> -->
                <select
                  name="serviceName"
                  formControlName="serviceName"
                  id="servicename"
                  class="form-control">
                    <option selected>
                      Choose one
                    </option>
                    <option *ngFor="let option of ourservices">
                      {{option.name}}
                    </option>
                </select>

              </div>

              <div class="form-group col-md-6">
                <label for="experience">Service Experience</label>
                <input 
                name="serviceExperience"
                formControlName="serviceExperience"
                type="number" 
                class="form-control" 
                id="experience" 
                placeholder="In years">
              </div>
            </div>

  
            <!-- <div class="form-group">
              <label for="currAddress">Current Address</label>
              <input type="text" class="form-control" id="currAddress" placeholder="House Number, Street, Locality">
            </div> -->
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="city">City</label>
                  <input 
                  name="city"
                  formControlName="city"
                  type="text" class="form-control" id="city" placeholder="eg.Dehradun">
              </div>
              <div class="form-group col-md-6">
                  <label for="state">State</label>
                  <input 
                  name="state"
                  formControlName="state"
                  type="text" class="form-control" id="state" placeholder="eg.Uttarakhand">
              </div>
            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="currCity">City</label>
                    <input type="text" class="form-control" id="currCity" placeholder="eg.Dehradun">
                </div>
                <div class="form-group col-md-4">
                    <label for="currState">State</label>
                    <input type="text" class="form-control" id="currState" placeholder="eg.Uttarakhand">
                </div>
                <div class="form-group col-md-3">
                    <label for="currZip">Zip</label>
                    <input type="text" class="form-control" id="currZip" placeholder="000000">
                </div>
            </div> -->
  
            <!-- <div class="form-group">
                <label for="permPoliceStation">Police Station</label>
                <input type="text" class="form-control" id="permPoliceStation">
            </div>

  
            <div class="form-group">
                <label for="permAddress">Permanent Address</label>
                <input type="text" class="form-control" id="permAddress" placeholder="House Number, Street, Locality">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="permCity">City</label>
                    <input type="text" class="form-control" id="permCity" placeholder="eg.Dehradun">
                </div>
                <div class="form-group col-md-4">
                    <label for="permState">State</label>
                    <input type="text" class="form-control" id="permState" placeholder="eg.Uttarakhand">
                </div>
                <div class="form-group col-md-3">
                    <label for="permZip">Zip</label>
                    <input type="text" class="form-control" id="permZip" placeholder="000000">
                </div>
            </div>
  
            <div class="form-group">
              <label for="permPoliceStation">Police Station</label>
              <input type="text" class="form-control" id="permPoliceStation">
            </div> -->

            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="pick">Upload Image</label>
                  <input 
                  (change) = "onImagePicked($event)"
                  type="file" 
                  class="form-control" 
                  id="profile-image">
              </div>
              <div 
                *ngIf="imagePreview !== '' && imagePreview && registerForm.get('previewImg').valid"
                class="form-group col-md-6 image-preview"
                [ngStyle]="{'background-image': 'url(\''+imagePreview+'\')' }"
                >
                <!-- <img [src]="imagePreview" alt=""> -->
              </div>
            </div>

            
            <div class="form-group">
              <div class="form-check">
                <input
                class="form-check-input"
                type="checkbox"
                id="termsCheck" 
                [checked]="termsCheck"
                (change)="termsCheck=!termsCheck"
                    >
                <label class="form-check-label" for="termsCheck"
                    [ngClass]="{'text-success': termsCheck, 'text-danger': !termsCheck}">
                  I declare all details filled by me are true.
                </label>
              </div>
            </div>

            <button type="submit"
              [hidden]="!termsCheck"
              class="btn submit-btn">
              Submit
            </button>
    </form>
</div>

<div class="container-fluid alertbox" [hidden]="!showhide">
  <div class="alert alert-success text-center mt-5 mx-auto" role="alert" >
    <h4 class="alert-heading">Form Submitted!</h4>
    <p>Please wait for the call from our team</p>
  </div>
</div>
        <!-- [ngClass]="{'submit-btn': termsCheck, 'disabled': !termsCheck, 'submit-btn-disabled': !termsCheck}" -->